.plusButton{
  border-radius:50%;
  height:50px;
  width:50px;
  text-align:center;
  line-height:50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-25px);
font-size:30px;
}
.modalBackground{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.5);

}
.buttonContainer{
  text-align:right;
}
.dateContainer{
  position:absolute;
  width:200px;
  height:200px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  padding:15px;
  background-color:white

}
.dateContainer input{
  width:calc(100% - 15px);
}
.reminder{
  height:200px;
  width:200px;
  border:1px solid black;
  overflow-y:scroll;
  padding:15px;
}
.reminderContainer{
  display:flex;
}
.inputContainer{
  width:400px;
  margin:auto;
  
}
.inputContainer input, 
.inputContainer textarea{
  width:100%;
}